$animation-duration: 500ms;
$animation-delay: 200ms;
$animation-timing-bezier: cubic-bezier(.08, 1.14, .97, .89);
$animation-timing-bublegum: cubic-bezier(.23, 1.93, 1, .71);

@keyframes scaleInput {
  0% {
    width: 0;
    padding-left: 0;
    padding-right: 0;
  }

  100% {
    width: 100%;
  }
}

// first view - start
.page-header__logo,
.page-header__menu,
.screen__footer,
.intro__message {
  animation-duration: $animation-duration;
  animation-timing-function: $animation-timing-bezier;
  animation-play-state: paused;
  animation-fill-mode: backwards;
}

.page-header__logo {
  animation-name: fadeFromLeft;
}

.page-header__menu {
  animation-name: fade;
  animation-delay: $animation-delay;
}

.screen__footer {
  animation-name: fromBottom;
}

.intro__message {
  animation-name: fadeFromBottom;
  animation-delay: $animation-delay * 7;
}

@keyframes bubleToggler {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.social-block__toggler::before {
  animation: bubleToggler $animation-duration $animation-timing-bublegum $animation-delay backwards;
  animation-play-state: paused;
}

// first view - end

.loaded {
  // first view - start
  .page-header__menu {
    a.active {
      &::after {
        transition-delay: $animation-delay;
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  .intro__message,
  .page-header__logo,
  .page-header__menu,
  .social-block__toggler::before,
  .screen__footer {
    animation-play-state: running;
  }

  // first view - end

  // rules section - start
  @keyframes bubleNumber {
    0% {
      transform: scale(0);
    }
  }

  @keyframes opacityColor {
    0% {
      color: transparent;
    }
  }

  @keyframes fadeRule {
    0% {
      opacity: 0;
      transform: translateX(20px)
    }
  }

  @keyframes scaleRuleButton {
    0% {
      font-size: 0;
      opacity: 0;
    }

    1% {
      opacity: 1;
    }
  }

  @keyframes moveAndRotateFromRight {
    0% {
      opacity: 0;
      transform: translateX(200%);
    }

    70% {
      opacity: .1;
    }

    100% {
      opacity: 1;
      transform: translateX(0) rotate(-720deg);
    }
  }

  @keyframes moveAndRotateFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-200%);
    }

    70% {
      opacity: .1;
    }

    100% {
      opacity: 1;
      transform: translateX(0) rotate(720deg);
    }
  }

  .active {
    $delay-rule: ($animation-duration / 2 + 50ms);
    $delay-increase: 100ms;

    .rules__item::before {
      animation-name: bubleNumber, opacityColor;
      animation-duration: $animation-duration;
      animation-delay: 0ms, 200ms;
      animation-timing-function: $animation-timing-bublegum, linear;
      animation-fill-mode: backwards;
    }

    .rules__item p {
      animation: fadeRule $animation-duration $animation-timing-bezier backwards;
    }

    @for $i from 1 through 5 {
      .rules__item:nth-child(#{$i}) {
        &::before {
          animation-delay: $delay-rule + $delay-increase * $i;
        }

        p {
          animation-delay: $delay-rule + $delay-increase * ($i + 1);
        }
      }
    }

    .rules__link {
      animation-name: scaleRuleButton, opacityColor;
      animation-duration: 300ms, 200ms;
      animation-delay: $delay-rule + 650ms, $delay-rule + 900ms;
      animation-timing-function: $animation-timing-bezier;
      animation-fill-mode: backwards;
    }

    .screen__disclaimer ul {
      animation: fade $animation-duration linear;
    }
    // rules section - end

    // game section - start
    .form__field {
      animation: scaleInput $animation-duration 300ms backwards;
    }
    // game section - end

    // story section - start
    .slider__control {
      animation-duration: 500ms;
      animation-delay: 200ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: backwards;

      &--prev {
        animation-name: moveAndRotateFromLeft;
      }

      &--next {
        animation-name: moveAndRotateFromRight;
      }
    }
    // story section - end
  }

  @keyframes swayFlamingo {
    30% {
      transform: rotate(-3deg) translateY(3%);;
    }

    50% {
      transform: rotate(-5deg) translateY(4%);
    }
  }

  @keyframes rotateFromBottom {
    0% {
      transform: rotate(-35deg) translateY(200%);
      opacity: 0;
    }
  }

  @keyframes scaleFromBottom {
    0% {
      transform: scale(0) translateY(200%);
      opacity: 0;
    }
  }

  @keyframes fadeAndRotateLeafLeft {
    0% {
      opacity: 0;
      transform: rotate(65deg);
    }

    20% {
      opacity: 1;
      transform: rotate(-7deg);
    }

    40% {
      transform: rotate(5deg);
    }

    60% {
      transform: rotate(-3deg);
    }

    80% {
      transform: rotate(2deg);
    }
  }

  @keyframes fadeAndRotateLeafRight {
    0% {
      opacity: 0;
      transform: rotate(-65deg);
    }

    20% {
      opacity: 1;
      transform: rotate(7deg);
    }

    40% {
      transform: rotate(-5deg);
    }

    60% {
      transform: rotate(3deg);
    }

    80% {
      transform: rotate(-2deg);
    }
  }

  @keyframes fadeBgAndFont {
    0% {
      opacity: 0;
      color: transparent;
    }

    50% {
      opacity: 1;
      color: transparent;
    }
  }

  // result section - start
  $animation-timing-result-bublegum: cubic-bezier(.07, 1.48, .7, .97);
  $animation-duration-result-main: 600ms;

  .result__picture--flamingo {
    transform-origin: bottom right;
  }

  .result__picture--leaf-right,
  .result__picture--leaf-green {
    transform-origin: left center;
  }

  .result__picture--leaf-left {
    transform-origin: right center;
  }

  .screen--show {
    .result__picture {
      will-change: transform;
    }

    .result__picture--flamingo {
      animation-name: rotateFromBottom, swayFlamingo;
      animation-duration: $animation-duration-result-main, 5s;
      animation-delay: 300ms, $animation-duration-result-main + 300ms;
      animation-timing-function: $animation-timing-result-bublegum, linear;
      animation-fill-mode: backwards, none;
      animation-iteration-count: 1, infinite;
    }

    .result__picture--suitcase {
      animation: scaleFromBottom $animation-duration-result-main 300ms $animation-timing-result-bublegum backwards;
    }

    .result__picture--leaf-left {
      animation: fadeAndRotateLeafLeft 2s $animation-duration-result-main - 100ms ease-in-out backwards;
    }

    .result__picture--leaf-right,
    .result__picture--leaf-green {
      animation: fadeAndRotateLeafRight 2s $animation-duration-result-main - 100ms ease-in-out backwards;
    }

    .form__field {
      animation: scaleInput $animation-duration $animation-duration-result-main backwards;
    }

    .form__button {
      animation: fadeBgAndFont $animation-duration $animation-duration-result-main backwards;
    }

    .result__button {
      animation: fade $animation-duration $animation-delay backwards;

      span {
        animation: moveAndRotateFromRight $animation-duration $animation-delay ease-out backwards;
      }
    }
  }
  // result section - end
}
