// Вынес сюда сцены анимации, чтобы не мешать с основными стилями.
// Не очень понял, зачем по заданию это делать через transition,
// если это не эффекты взаимодействия и через animation в итоге удобнее.
$animation-duration: 500ms;
$animation-delay: 200ms;
$animation-timing-bezier: cubic-bezier(.08, 1.14 , .97, .89);
$animation-timing-bublegum: cubic-bezier(.85,1.45,.61,1.18);

// first view - start
.page-header__logo,
.page-header__menu,
.screen__footer,
.intro__message {
  animation-duration: $animation-duration;
  animation-timing-function: $animation-timing-bezier;
  animation-play-state: paused;
  animation-fill-mode: backwards;
}

.page-header__logo {
  animation-name: fadeFromLeft;
}

.page-header__menu {
  animation-name: fade;
  animation-delay: $animation-delay;
}

.screen__footer {
  animation-name: fromBottom;
}

.intro__message {
  animation-name: fadeFromBottom;
  animation-delay: calc(#{$animation-delay} * 5);
}

.social-block__toggler::before {
  animation: bubleGam $animation-duration $animation-delay backwards;
  animation-play-state: paused;
}
// first view - end

.rules__item::before {
  animation-play-state: running;
}


.loaded {
  // first view - start
  .page-header__menu {
    a.active {
      &::after {
        transition-delay: $animation-delay;
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  .intro__message,
  .page-header__logo,
  .page-header__menu,
  .social-block__toggler::before,
  .screen__footer {
    animation-play-state: running;
  }
  // first view - end

  .active .rules__item::before {
    animation-play-state: running;
  }

}
